GROQ_API_KEY=
# Fallback: GROQ=

VITE_HELIUS_API_KEY=4445ee36-2a13-4b20-9b59-8cbb49254574
# Fallback: HELIUS=

VITE_TREASURY_ADDRESS=94XERPmgthDeS8gkAZDJ7sqKteEATJjvTgXB17BqovDG
# Fallback: TREASURY=
