# AI ENGINE KEYS
GEMINI_API_KEY=
GROQ_API_KEY=

# SOLANA CONFIGURATION
VITE_HELIUS_API_KEY=4445ee36-2a13-4b20-9b59-8cbb49254574
VITE_TREASURY_ADDRESS=94XERPmgthDeS8gkAZDJ7sqKteEATJjvTgXB17BqovDG

# SYSTEM
NODE_ENV=production
